body {
  margin: 0;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 30px;

  background-color: white;

  border-radius: 18px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #4b5bdc;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #444;
}

input {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid #ccc;

  font-size: 15px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #4b5bdc;
}

.msg {
  margin-top: 20px;

  background-color: #eef1ff;

  padding: 15px;

  border-radius: 10px;

  text-align: center;

  color: #2c3577;

  font-weight: bold;
}